\#*
.\#*
__pycache__
*~
/edit_*.*
*.jou
*.log
generate_*.tcl
component.xml
AXIS_SampleBufferOut/
piradspi_ip/
.Xil/Vivado-43940-Zapman/.lpr
AXIS_SampleBufferOut/
AXIS_SampleBufferIn/
AXIS_SampleInterleaver/
piradip_slice8_ip/
piradip_slice16_ip/
piradip_slice32_ip/
piradip_trigger_unit_ip/
piradspi_ip/
generate_all.tcl
generate_AXIS_SampleBufferOut.tcl
generate_piradspi_ip.tcl
library/component.xml
*.pb
*.wdb
xsim.dir
*.zip
tests/glbl.v
.Xil