\#*
.\#*
__pycache__
*~
/edit_*.*
*.wcfg
component.xml
AXIS_SampleBufferOut/
piradspi_ip/
.Xil/Vivado-43940-Zapman/.lpr
AXIS_SampleBufferOut/bd/bd.tcl
AXIS_SampleBufferOut/component.xml
AXIS_SampleBufferOut/hdl/AXIS_SampleBufferOut_1.0.sv
AXIS_SampleBufferOut/xgui/axis_sample_buffer_out_v1_0.tcl
AXIS_SampleBufferOut/xgui/xgui.tcl
generate_all.tcl
generate_AXIS_SampleBufferOut.tcl
generate_piradspi_ip.tcl
library/component.xml
piradspi_ip/bd/bd.tcl
piradspi_ip/component.xml
piradspi_ip/hdl/piradspi_ip_1.0.sv
piradspi_ip/xgui/piradspi_ip_v1_0.tcl
piradspi_ip/xgui/xgui.tcl
